<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Idera.PrescriptiveAnalytics.PrescriptiveAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Idera.PrescriptiveAnalytics.PrescriptiveAnalyzer.Properties.Settings>
      <setting name="CPU_HighAvgLoadPercentage" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="CPU_HighAvgQueueLength" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="CPU_MaxCPUWhenMaxDopZero" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CPU_MaxDopPerCPU" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="CPU_MaxEncryptedIOPercent" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CPU_ContextSwitchesPerSecond" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="OLEContext" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IO_HighPagesPerSecond" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IO_HighPercentDiskTime" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="IO_HighSplitIOToDiskTransfersPercentage" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="IO_HighIOWaitsPercentOfTotal" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="IO_MinVolumeBlockSize" serializeAs="String">
        <value>65536</value>
      </setting>
      <setting name="IO_DiskSecPerTransTimesPctDiskTime" serializeAs="String">
        <value>0.0035</value>
      </setting>
      <setting name="CPU_AvgPrivilegedTimePercent" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CPU_MaxSqlThreadCount" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="IO_HighDiskQueueLength" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CPU_ActivityPerSecDenominator" serializeAs="String">
        <value>3.5</value>
      </setting>
      <setting name="CPU_ActivityPerSecAdjustment" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="CPU_HighPercentInterruptTime" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="Net_HighStatementsWithNoCountPercent" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="Net_MinUptimeInMinutesForNetworkUtilization" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Net_MinSqlServerNetworkUtilizationPercent" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="Net_MaxAvgQueueLength" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Net_HighRetranSegmentsPercent" serializeAs="String">
        <value>0.03</value>
      </setting>
      <setting name="IO_HighTempDbMetadataWaits" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CPU_LightweightPoolingMinProcessorTimePercent" serializeAs="String">
        <value>74</value>
      </setting>
      <setting name="CPU_LightweightPoolingMinProcessorCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="IO_HighProcessorQueueLengthPerProcessor" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="IO_HighSqlServerCPU" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="IO_IOFillFactorThresholdMedium" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="IO_IOFillFactorThresholdHigh" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="Mem_Pressure_BufferCacheHitRatio" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="Mem_Pressure_PageLife" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Mem_Pressure_MemoryGrantsPending" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Mem_MinMemory_PagesPerSec" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Mem_DefaultFillFactorEqual" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mem_DefaultFillFactorOver" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="Mem_PageSplitsLow" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Mem_DefaultFillFactorLow" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="Mem_HighPageSplitsToAllocationRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="Mem_MaxUserConnections" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Mem_HighAdhocCacheSizeMB" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Mem_HighPageFaultsPerSec" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Mem_CPUForPageCompression" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="BP_SelectStarAbuseIncludeTempTables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trace1_Continuous" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trace1_MinQueryTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Trace1_MaxQueryTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Trace1_SampleInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Trace2_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trace2_Continuous" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Trace2_MinQueryTime" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Trace2_MaxQueryTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Trace2_SampleInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Max_RankedRecommendations" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Max_RecommendationsPerAnalyzer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultSqlCommandTimeoutInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EnumWMICommandTimeoutInMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Max_TableUpdatesPerSecForMissingIndexRecommendation" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="Min_DMVMissingIndexImpact" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="Max_RecommendationsPerType" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Max_UniqueTraceBuckets" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="Cache_TSQL_MinSizeInMB" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Cache_TSQL_MaxSizeInMB" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="Cache_TSQL_GrowSizeInMB" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Cache_Plan_MinSizeInMB" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Cache_Plan_MaxSizeInMB" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="Cache_Plan_GrowSizeInMB" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="UseTSQLHashing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DumpDataBuckets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DaysSinceLastCheckDB" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="DaysSinceLastBackup" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExEvent1_Continuous" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExEvent1_MinQueryTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExEvent1_MaxQueryTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExEvent1_SampleInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExEvent2_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExEvent2_Continuous" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExEvent2_MinQueryTime" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ExEvent2_MaxQueryTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExEvent2_SampleInterval" serializeAs="String">
        <value>1</value>
      </setting>
    </Idera.PrescriptiveAnalytics.PrescriptiveAnalyzer.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
