<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Idera.SQLdm" type="Idera.SQLdm.PredictiveAnalyticsService.Configuration.PredictiveAnalyticsServiceSection, SQLdmPredictiveAnalyticsService"/>
    <section name="TracerX" type="BBS.TracerX.XmlConfigSectionHandler, TracerX"/>
  </configSections>

  <Idera.SQLdm ManagementServiceAddress="localhost" ManagementServicePort="5166" CollectionServiceAddress="localhost" CollectionServicePort="5167" ModelRebuildDateTime="1900/1/1 02:00:00" BaselineAnalysisDateTime="1900/1/1 02:00:00">    
  </Idera.SQLdm>
  
  <TracerX>
    <LogFile>
      <!-- This specifies the directory where the log file will be written. -->
      <!-- The file name is set internally and cannot be changed. -->
      <!-- %EXEDIR% = the directory containing the executable -->
      <LogDirectory value="%EXEDIR%\Logs"/>

      <!-- This specifies the approximate maximum size the file can grow to in Mb (1 Mb = 2**20). -->
      <!-- Anything over 4095 is coerced to 4095 (i.e. 4,293,918,720 bytes). -->
      <MaxSizeMb value="25"/>

      <!-- This specifies the number of archived log files to keep.  Anything over 9 is coerced to 9. -->
      <Archives value="3"/>

      <!-- This specifies the file size in Kb at which circular logging begins if it hasn't already begun (1 Kb = 2**10). -->
      <!-- Anything over 4,193,300 is coerced to 4,193,300 (i.e 4,293,939,200 bytes), which is -->
      <!-- high enough to prevent circular logging from ever being triggered by this, should that be your goal. -->
      <!-- Output generated before this point is preserved when the log wraps. -->
      <CircularStartSizeKb value="250"/>

      <!-- This specifies the number of seconds after opening the log file when circular logging begins if it hasn't already begun. -->
      <!-- Output generated before this point is preserved when the log wraps. -->
      <CircularStartDelaySeconds value="90"/>
    </LogFile>

    <!-- This controls the application event logging performed by TracerX. -->
    <!-- Events 1-100 are errors (e.g. the file can't be opened). -->
    <!-- Events 101-200 are warnings (e.g. max file size reached without starting circular logging). -->
    <!-- Events 201-300 are information (e.g. the output file was opened successfully). -->
    <!-- Generally, there should be no errors or warnings, so the recommended value is 200. -->
    <MaxEventNumber value="200"/>

    <!-- Specify a Logger element for each Logger object whose TraceLevel you want to set. -->
    <!-- Child loggers whose trace levels aren't explicitly set will inherit their parent's trace level. -->
    <!-- Parent-child relationships are determined by the "dotted" substrings of the logger names, -->
    <!-- much like C# namespaces. -->
    <!-- The "Root" logger is the ultimate ancestor of all loggers. Other loggers will inherit the root -->
    <!-- trace level unless they are explicitly set here or programatially. -->
    <Logger name="Root">
      <level value="VERBOSE"/>
    </Logger>
  </TracerX>

<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
