<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="TracerX" type="BBS.TracerX.XmlConfigSectionHandler, TracerX"/>
  </configSections>
  
  <TracerX>
    <LogFile>
      <!-- This specifies the directory where the log file will be written. -->
      <!-- The file name is set internally and cannot be changed. -->
      <!-- %EXEDIR% = the directory containing the executable -->
      <LogDirectory value="%EXEDIR%\Logs"/>
      <!-- Allow create and archived files of logs-->
      <FullFilePolicy value="Wrap" />
      <!-- This specifies the approximate maximum size the file can grow to in Mb (1 Mb = 2**20). -->
      <MaxSizeMb value="10"/>
      <!-- This specifies the number of archived log files to keep.  Anything over 9 is coerced to 9. -->
      <Archives value="3"/>
      <!-- This specifies the file size in Kb at which circular logging begins if it hasn't already begun (1 Kb = 2**10). -->
      <!-- Anything over 4,193,300 is coerced to 4,193,300 (i.e 4,293,939,200 bytes), which is -->
      <!-- high enough to prevent circular logging from ever being triggered by this, should that be your goal. -->
      <!-- Output generated before this point is preserved when the log wraps. -->
      <CircularStartSizeKb value="250"/>
      <!-- This specifies the number of seconds after opening the log file when circular logging begins if it hasn't already begun. -->
      <!-- Output generated before this point is preserved when the log wraps. -->
      <CircularStartDelaySeconds value="90"/>
    </LogFile>

    <Logger name="Root">
      <level value="VERBOSE"/>
    </Logger>
    
  </TracerX>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
